/* COMMON */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-color: #2196f3;
  --white-color: white;
  --section-dark-bg-color: #2f303a;
  --section-gray-bg-color: #f5f4fa;
  --transparent-gray-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section-title {
  font-size: 36px;
  text-align: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* HEADER */

.header {
  background-color: white;
}

.header-logo-studio {
  color: var(--primary-text-color);
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-e-mail,
.header-tel {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav:hover,
.site-nav:focus,
.e-mail:hover,
.e-mail:focus,
.tel:hover,
.tel:focus {
  color: var(--hover-color);
}

.current {
  color: var(--hover-color);
}

/* FOOTER */

.footer {
  background-color: var(--section-dark-bg-color);
}

.footer-logo-studio {
  color: var(--white-color);
}

address {
  color: var(--transparent-gray-color);
  font-style: normal;
}

.address {
  color: white;
}