/* HERO */

.hero-section {
  background-color: var(--section-dark-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-btn {
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  border: none;
}

/* 4 ГЛАВНЫХ ПРИНЦИПА */

.principle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.principles-text {
  color: var(--secondary-text-color);
}

/* НАША КОМАНДА */

.our-team {
  background-color: #f5f4fa;
}

.team-card {
  background-color: white;
  border: solid 1px;
  line-height: 1.19;
  width: 270px;
}

.card-title {
  font-size: 16px;
}

.team-position {
  color: var(--secondary-text-color);
  font-size: 16px;
}
